<% layout("layouts/boilerplate") %>

<div class="container mt-5" style="max-width:500px;">

  <h2 class="mb-4 text-center">Log in</h2>

  <form action="/user/login" method="POST">

    <div class="mb-3">
      <label class="form-label">Username</label>
      <input 
        type="text"
        name="username"
        class="form-control"
        placeholder="Enter username"
        required
      >
    </div>

    

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input 
        type="password"
        name="password"
        class="form-control"
        placeholder="Enter password"
        required
      >
    </div>

    <button type="submit" class="btn btn-primary w-100">
      login
    </button>

  </form>

</div>